<div class="flex items-center justify-center mt-28 ">
  <div class="w-3/4 flex items-center relative px-4">
    <div class="bg-primaryGreen text-white p-14 w-3/4 mt-10">
      <span class="font-medium text-sm font-breeSerif">Delight Your Clients</span>
      <h3 class="font-normal font-neueMontreal text-3xl my-5">Agents: Sell with Ease</h3>
      <p class="font-neueMontreal w-3/4 pe-10">
        Bloomsday Home aspires to help homeowners, and their trusted advisors.
        Delight your clients with our platform, as a component of the white
        glove service that you already give. Bloomsday Home supplements, not
        replaces, the transaction management software you're familiar with.
      </p>
      <button class="font-medium font-neueMontreal border border-spacing-2 border-white py-2 px-5 rounded-md my-7">Email Us to Learn How Bloomsday Helps Agents</button>
    </div>
    <div class="absolute w-[35%] right-5 -top-10"><img src="/assets/Frame6.png" alt="Frame6" /></div>
  </div>
</div>
