<div class="flex items-center justify-center mt-28" id="agents">
  <div class="w-3/4 flex items-center relative">
    <div class="bg-primaryGreen text-yellowish p-14 w-3/4 mt-10">
      <span class="font-medium text-sm font-breeSerif"
        >Delight Your Clients</span
      >
      <h3 class="font-normal font-neueMontreal text-3xl my-5">
        Added Value for Forever Clients
      </h3>
      <p class="font-neueMontreal w-3/4 pe-10 font-normal tracking-wide">
        Bloomsday partners with likeminded agents to provide a white glove
        service to their valued clients. Our client-facing platform is intended
        to supplement, not replace, agents’ internal software, so there is no
        switching cost. Contact us to discuss cobranding opportunities and other
        ways we can help you deliver a superior experience to your clients.
      </p>
      <button
        class="font-medium font-neueMontreal border border-spacing-2 border-white py-2 px-5 rounded-md my-7"
        >Email Us to Learn How Bloomsday Helps Agents</button
      >
    </div>
    <div class="absolute w-[35%] right-5 -top-10">
      <img src="/assets/Frame6.png" alt="Frame6" />
    </div>
  </div>
</div>
