---
import { Image } from "astro:assets";
import Frame6 from "../../images/Frame6.png";
---

<div class="flex items-center justify-center mt-28 sm:mt-0" id="agent">
  <div
    class="w-3/4 sm:w-full grid sm:flex sm:flex-col-reverse grid-cols-8 bg-gradient-to-r from-primaryGreen from-75% sm:from-100% to-white to-75%"
  >
    <div
      class="text-yellowish p-14 sm:py-8 sm:px-9 mt-10 sm:mt-0 col-span-5 flex flex-col justify-center"
    >
      <span class="font-medium text-lg font-breeSerif"
        >Delight Your Clients</span
      >
      <h3 class="font-normal font-neueMontreal text-3xl my-5">
        Added Value for Forever Clients
      </h3>
      <p class="font-neueMontreal pe-10 sm:pe-0 sm:text-sm font-normal tracking-wide">
        Bloomsday partners with likeminded agents to provide a white glove
        service to their valued clients. Our client-facing platform is intended
        to supplement, not replace, agents’ internal software, so there is no
        switching cost. Contact us to discuss cobranding opportunities and other
        ways we can help you deliver a superior experience to your clients.
      </p>
      <a
        href="mailto:agents@bloomsdayhome.com?subject=Agent Inquiry"
        class="font-medium font-neueMontreal sm:text-sm w-fit border border-spacing-2 border-[#F5F2E1] py-2 px-5 rounded-md my-7 tracking-wide"
        >Email Us to Learn How Bloomsday Helps Agents</a
      >
    </div>
    <div class="col-span-3 relative sm:p-9 sm:pb-5">
      <Image
        src={Frame6}
        alt="Frame6"
        class="w-full h-full sm:h-[290px] object-cover object-top md:-translate-y-[15%] absolute sm:relative md:top-0 md:left-0"
      />
    </div>
  </div>
</div>
