<div class="border-b border-lightGreen border-spacing-2 px-20 bg-yellowish">
  <div class="flex items-center py-2 justify-between">
    <div class="flex items-center cursor-pointer">
      <img src="/assets/BloomsdayLogo.svg" alt="Bloomsday Logo" />
      <img src="/assets/BloomsdayTextIcon.svg" alt="Bloomsday Text" class="mx-2"/>
    </div>
    <div class="flex items-center">
        <ul class="flex items-center justify-between text-primaryGreen font-medium font-neueMontreal">
            <li class="mx-5 cursor-pointer"><a href="/#solutions">Solution</a></li>
            <li class="mx-5 cursor-pointer"><a href="/#buyers">Homebuyers</a></li>
            <li class="mx-5 cursor-pointer"><a href="/#joinCommunity">Agents</a></li>
        </ul>
        <button class="py-2 px-5 bg-primaryGreen text-white font-medium rounded-md mx-4"><a href="/#joinWaitlist">Join the waitlist</a></button>
    </div>
  </div>
</div>
