---
import { Image } from "astro:assets";
import CurrentHomeOwners from "../../images/CurrentHomeOwners.png";
import BuyWithConfidence from "../../images/BuyWithConfidence.png";
import SweetHome from "../../images/SweetHome.png";
import TurningPage from "../../images/TurningPage.png";
---

<div class="flex items-center justify-center mt-14" id="buyers">
  <div class="w-[80%] px-8">
    <div class="text-center py-5">
      <span class="font-medium font-breeSerif text-sm"
        >Your Home Management Assistant</span
      >
      <h3 class="font-normal font-neueMontreal text-5xl text-primaryGreen my-6">
        What Sets Bloomsday Apart
      </h3>
      <p class="font-normal">
        Bloomsday is dedicated to empowering you with knowledge and confidence
        throughout your entire home<br /> journey. Our unique solution supports you
        from your first steps to long after you've settled in.
      </p>
    </div>
    <div class="flex items-center py-3 mt-8">
      <div
        class="bg-mintGreen p-5 w-full flex justify-between items-center relative"
      >
        <div class="w-1/2 px-10">
          <span class="font-medium font-breeSerif text-sm"
            >Step 1: Clarify the complicated.</span
          >
          <h3
            class="font-normal font-neueMontreal text-4xl text-primaryGreen my-5"
          >
            Current and Aspiring Homeowners
          </h3>
          <p class="font-normal font-neueMontreal pb-5 pe-10 tracking-wide">
            Step into the world of homebuying with Bloomsday, a haven for future
            homeowners seeking guidance, knowledge, and a serene experience. Our
            zen-inspired approach invites you to explore and master the process
            at your own pace, empowering you with the wisdom and confidence to
            make your dream home a reality. Come join us, and let's walk this
            path together.
          </p>
          <button
            class="border-2 border-primaryGreen border-spacing-5 text-primaryGreen border-solid rounded-md py-2 px-5 font-medium"
            ><a href="#joinWaitlist"> Join the Waitlist </a></button
          >
        </div>
        <div class="w-1/2">
          <Image src={CurrentHomeOwners} alt="Frame1" class="" />
        </div>
      </div>
    </div>
    <div class="flex items-center py-3">
      <div
        class="bg-yellowish p-5 w-full flex justify-between items-center relative"
      >
        <div class="w-1/2">
          <Image src={BuyWithConfidence} alt="Frame2" />
        </div>
        <div class="w-1/2 px-16">
          <span class="font-medium font-breeSerif text-sm"
            >Step 2: Act with Clarity and Certainty.</span
          >
          <h3
            class="font-normal font-neueMontreal text-4xl text-primaryGreen my-5"
          >
            Buy with Confidence
          </h3>
          <p class="font-normal font-neueMontreal pb-5 tracking-wide">
            Bloomsday simplifies the document chaos of homebuying, transforming
            scattered papers into organized clarity. Our platform ensures you're
            prepared and confident throughout the process, eliminating the urge
            to sign without understanding. Say goodbye to overwhelm and hello to
            a smooth, organized journey.
          </p>
          <button
            class="border-2 border-primaryGreen border-spacing-5 text-primaryGreen border-solid rounded-md py-2 px-5 font-medium"
            ><a href="#joinWaitlist"> Join the Waitlist </a></button
          >
        </div>
        <div></div>
      </div>
    </div>
    <div class="flex items-center py-3">
      <div class="bg-mintGreen p-5 w-full flex justify-between items-center">
        <div class="w-1/2 p-16">
          <span class="font-medium font-breeSerif text-sm"
            >Step 3: Build a Digital Library of Your Home Records</span
          >
          <h3
            class="font-normal font-neueMontreal text-4xl text-primaryGreen my-5"
          >
            Home Sweet Home
          </h3>
          <p class="font-normal font-neueMontreal pb-5 tracking-wide">
            Bloomsday Home is your partner even after you finally get the keys
            to your dream home. Our secure document storage and organization
            features create a personalized hub where you can easily access
            everything you need, from appliance warranties and paint colors to
            remodeling plans and essential documents like insurance policies,
            deeds, and property taxes.
          </p>
          <button
            class="border-2 border-primaryGreen border-spacing-5 text-primaryGreen border-solid rounded-md py-2 px-5 font-medium"
          >
            <a href="#joinWaitlist"> Join the Waitlist </a></button
          >
        </div>
        <div class="w-1/2">
          <div class="">
            <Image src={SweetHome} alt="Frame3" class="" />
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center py-3">
      <div
        class="bg-yellowish p-5 w-full flex justify-between items-center relative"
      >
        <div class="w-1/2">
          <Image src={TurningPage} alt="Frame5 " />
        </div>
        <div class="w-1/2 p-16">
          <span class="font-medium font-breeSerif text-sm"
            >Beyond: Every Home Has a Story</span
          >
          <h3
            class="font-normal font-neueMontreal text-4xl text-primaryGreen my-5"
          >
            Turning the Page
          </h3>
          <p class="font-normal font-neueMontreal pb-5 tracking-wide">
            When it's time to sell your home, whether planned or unexpected,
            Bloomsday ensures you're prepared and organized. Storing your home's
            essential records on our platform cultivates a seamless selling
            experience, impressing your real estate agent and providing valuable
            history to the new owners, strengthening their bond with the home
            you once cherished.
          </p>
          <button
            class="border-2 border-primaryGreen border-spacing-5 text-primaryGreen border-solid rounded-md py-2 px-5 font-medium"
            ><a href="#joinWaitlist"> Join the Waitlist </a></button
          >
        </div>
      </div>
    </div>
  </div>
</div>
