---
import ArtAndScience from "./ArtAndScience.jsx";
import Product from "./Product.astro";
import Main from "./Main.astro";
import HomeMgmt from "./HomeMgmt.astro";
import Agents from "./Agents.astro";
import JoinCommunity from "./JoinCommunity.astro";
import JoinWaitlist from "./JoinWaitlist";
---

<div>
  <Main />
  <ArtAndScience client:only=”react”/>
  <Product/>
  <HomeMgmt/>
  <Agents/>
  <JoinCommunity/>
  <JoinWaitlist client:only=”react”/>
</div>
