<div class="flex items-center justify-center">
  <div class="w-3/4">
    <div class="text-center py-5">
      <span class="font-medium font-breeSerif text-sm"
        >Your Home Management Assistant</span
      >
      <h3 class="font-normal font-neueMontreal text-5xl text-primaryGreen my-6">
        What Sets Bloomsday Apart
      </h3>
      <p class="font-normal">
        Bloomsday Home is your partner all along your home journey—from the
        purchase and beyond.
      </p>
    </div>
    <div class="flex items-center p-3">
      <div
        class="bg-mintGreen p-5 w-full flex justify-between items-center relative"
      >
        <div class="w-1/2 pe-20">
          <span class="font-medium font-breeSerif text-sm"
            >Clarify the complicated.</span
          >
          <h3
            class="font-normal font-neueMontreal text-4xl text-primaryGreen my-5"
          >
            Current and Aspiring Homeowners
          </h3>
          <p class="font-normal font-neueMontreal pb-5">
            Step into the world of homebuying with Bloomsday, a haven for future
            homeowners seeking guidance, knowledge, and a serene experience. Our
            zen-inspired approach invites you to explore and master the process
            at your own pace, empowering you with the wisdom and confidence to
            make your dream home a reality. Come join us, and let's walk this
            path together.
          </p>
          <button
            class="border-2 border-primaryGreen border-spacing-5 text-primaryGreen border-solid rounded-md py-2 px-5 font-medium"
            >Join the Waitlist</button
          >
        </div>
        <div class="w-1/2 ps-20">
          <img src="/assets/Frame1.png" alt="Frame1" />
          <div class="w-52 absolute -translate-x-3/4 top-24">
            <div class="">
              <div
                class="bg-white flex items-center text-sm font-neueMontreal font-semibold text-primaryGreen border-t-4 border-spacing-2 border-secondaryGreen p-2 rounded-t-md my-2"
              >
                <img src="/assets/GetApprovedIcon.svg" alt="GetApprovedIcon" />
                <span class="ms-2">Get Pre-Approved</span>
              </div>
              <div class="ms-6">
                <div
                  class="bg-[#F8F5F1] rounded-md my-2 p-3 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                >
                  <img class="w-[15%] me-3" src="/assets/AssetIcon.svg" alt="AssetIcon"/><span
                    >Assets</span
                  >
                </div>
                <div
                  class="bg-[#F8F5F1] rounded-md my-2 p-3 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                >
                  <img class="w-[15%] me-3" src="/assets/IncomeIcon.svg" alt="IncomeIcon" /><span
                    >Income</span
                  >
                </div>
                <div
                  class="bg-[#F8F5F1] rounded-md my-2 p-3 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                >
                  <img class="w-[15%] me-3" src="/assets/DebtsIcon.svg" alt="DebtsIcon" /><span
                    >Debts</span
                  >
                </div>
                <div
                  class="bg-[#F8F5F1] rounded-md my-2 p-3 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                >
                  <img class="w-[15%] me-3" src="/assets/ReportIcon.svg" alt="ReportIcon"/><span
                    >Reports</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center p-3">
      <div
        class="bg-yellowish p-5 w-full flex justify-between items-center relative"
      >
        <div class="w-1/2 pe-20">
          <img src="/assets/Frame2.png" alt="Frame2"/>
          <div class="w-60 absolute translate-x-80 top-24">
            <div class="">
              <div
                class="bg-white flex items-center text-sm font-neueMontreal font-semibold text-primaryGreen border-t-4 border-spacing-2 border-secondaryGreen p-2 rounded-t-md my-2"
              >
                <img src="/assets/EscrowIcon.svg" alt="EscrowIcon" />
                <span class="ms-2">Escrow</span>
              </div>
              <div class="ms-6">
                <div
                  class="bg-[#F8F5F1] rounded-md my-2 py-3 px-2 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                >
                  <img
                    class="w-[10%] me-3"
                    src="/assets/CheckboxIcon.svg"
                    alt="CheckboxIcon"
                  /><span>Schedule Home Appraisal</span>
                </div>
                <div
                  class="bg-[#F8F5F1] rounded-md my-2 py-3 px-2 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                >
                  <img
                    class="w-[10%] me-3"
                    src="/assets/CheckboxIcon.svg"
                    alt="CheckboxIcon"
                  /><span>Receive Appraisal Report</span>
                </div>
                <div
                  class="bg-[#F8F5F1] rounded-md my-2 py-3 px-2 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                >
                  <img
                    class="w-[10%] me-3"
                    src="/assets/CheckboxIcon.svg"
                    alt="CheckboxIcon"
                  /><span>Title Review</span>
                </div>
                <div
                  class="bg-[#F8F5F1] rounded-md my-2 py-3 px-2 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                >
                  <img
                    class="w-[10%] me-3"
                    src="/assets/CheckboxIcon.svg"
                    alt="CheckboxIcon"
                  /><span>Disclosure Statement</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-1/2 ps-20">
          <span class="font-medium font-breeSerif text-sm"
            >Act with Clarity and Certainty.</span
          >
          <h3
            class="font-normal font-neueMontreal text-4xl text-primaryGreen my-5"
          >
            Buy with Confidence
          </h3>
          <p class="font-normal font-neueMontreal pb-5">
            Bloomsday simplifies the document chaos of homebuying, transforming
            scattered papers into organized clarity. Our platform ensures you're
            prepared and confident throughout the process, eliminating the urge
            to sign without understanding. Say goodbye to overwhelm and hello to
            a smooth, organized journey.
          </p>
          <button
            class="border-2 border-primaryGreen border-spacing-5 text-primaryGreen border-solid rounded-md py-2 px-5 font-medium"
            >Join the Waitlist</button
          >
        </div>
        <div></div>
      </div>
    </div>
    <div class="flex items-center p-3">
      <div class="bg-mintGreen p-5 w-full flex justify-between items-center">
        <div class="w-1/2 pe-20">
          <span class="font-medium font-breeSerif text-sm"
            >A Digital Library for Your Home Records.</span
          >
          <h3
            class="font-normal font-neueMontreal text-4xl text-primaryGreen my-5"
          >
            Home Sweet Home
          </h3>
          <p class="font-normal font-neueMontreal pb-5">
            Bloomsday Home is your partner even after you finally get the keys
            to your dream home. Our secure document storage and organization
            features create a personalized hub where you can easily access
            everything you need, from appliance warranties and paint colors to
            remodeling plans and essential documents like insurance policies,
            deeds, and property taxes.
          </p>
          <button
            class="border-2 border-primaryGreen border-spacing-5 text-primaryGreen border-solid rounded-md py-2 px-5 font-medium"
            >Join the Waitlist</button
          >
        </div>
        <div class="w-1/2 ps-20 h-[26rem]">
          <div class="relative">
            <div class="w-52 absolute top-1 -left-20">
              <div class="">
                <div
                  class="bg-white flex items-center text-sm font-neueMontreal font-semibold text-primaryGreen border-t-4 border-spacing-2 border-secondaryGreen p-2 rounded-t-md my-2"
                >
                  <img src="/assets/DocumentIcon.svg"  alt="DocumentIcon"/>
                  <span class="ms-2">Documents</span>
                </div>
                <div class="ms-6">
                  <div
                    class="bg-[#F8F5F1] rounded-md my-2 py-2 px-2 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                  >
                    <img
                      class="w-[10%] me-3"
                      src="/assets/FileNoteBookIcon.svg"
                      alt="FileNoteBookIcon"
                    /><span>Deed</span>
                  </div>
                  <div
                    class="bg-[#F8F5F1] rounded-md my-2 py-2 px-2 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                  >
                    <img
                      class="w-[10%] me-3"
                      src="/assets/FileNoteBookIcon.svg"
                      alt="FileNoteBookIcon"
                    /><span>Tex Records</span>
                  </div>
                  <div
                    class="bg-[#F8F5F1] rounded-md my-2 py-2 px-2 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                  >
                    <img
                      class="w-[10%] me-3"
                      src="/assets/FileNoteBookIcon.svg"
                      alt="FileNoteBookIcon"
                    /><span>Disclosures</span>
                  </div>
                  <div
                    class="bg-[#F8F5F1] rounded-md my-2 py-2 px-2 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                  >
                    <img
                      class="w-[10%] me-3"
                      src="/assets/FileNoteBookIcon.svg"
                      alt="FileNoteBookIcon"
                    /><span>Mortgage Note</span>
                  </div>
                </div>
              </div>
            </div>
            <img
              src="/assets/Frame3.png"
              alt="Frame3"
              class="w-[60%] z-[2] absolute top-24 left-24"
            />
            <img src="/assets/Frame4.png" class="w-1/4 absolute -left-8 top-64" alt="Frame4" />
            <div class="w-[7rem] z-[3] absolute right-16 ">
              <div class="bg-white p-2 rounded-t-md">
                <h3 class="font-bold text-xs">PAINT SWATCH</h3>
                <p class="text-[0.6rem] font-medium">Dusty Teal</p>
              </div>
              <div class="h-24 bg-lightGreen rounded-b-md"></div>
            </div>
            <div class="w-[7rem] z-[4] absolute right-0 top-16">
              <div class="h-24 bg-[#E3BA78] rounded-t-md"></div>
              <div class="bg-white p-2 rounded-b-md">
                <h3 class="font-bold text-xs">PAINT SWATCH</h3>
                <p  class="text-[0.6rem] font-medium">French Quarter Goldl</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center p-3">
      <div
        class="bg-yellowish p-5 w-full flex justify-between items-center relative"
      >
        <div class="w-1/2 pe-20">
          <img src="/assets/Frame5.png" alt="Frame5 " />
          <div class="w-52 absolute translate-x-96 top-28">
            <div class="">
              <div
                class="bg-white flex items-center text-sm font-neueMontreal font-semibold text-primaryGreen border-t-4 border-spacing-2 border-secondaryGreen p-2 rounded-t-md my-2"
              >
                <img src="/assets/DocumentIcon.svg" alt="DocumentIcon" />
                <span class="ms-2">Documents</span>
              </div>
              <div class="ms-6">
                <div
                  class="bg-[#F8F5F1] rounded-md my-2 py-3 px-2 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                >
                  <img
                    class="w-[10%] me-3"
                    alt="FileNoteBookIcon"
                    src="/assets/FileNoteBookIcon.svg"
                  /><span>Deed</span>
                </div>
                <div
                  class="bg-[#F8F5F1] rounded-md my-2 py-3 px-2 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                >
                  <img
                    class="w-[10%] me-3"
                    alt="FileNoteBookIcon"
                    src="/assets/FileNoteBookIcon.svg"
                  /><span>Tex Records</span>
                </div>
                <div
                  class="bg-[#F8F5F1] rounded-md my-2 py-3 px-2 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                >
                  <img
                    class="w-[10%] me-3"
                    alt="FileNoteBookIcon"
                    src="/assets/FileNoteBookIcon.svg"
                  /><span>Disclosures</span>
                </div>
                <div
                  class="bg-[#F8F5F1] rounded-md my-2 py-3 px-2 flex items-center text-sm font-neueMontreal font-medium text-primaryGreen w-full"
                >
                  <img
                    class="w-[10%] me-3"
                    alt="FileNoteBookIcon"
                    src="/assets/FileNoteBookIcon.svg"
                  /><span>Mortgage Note</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-1/2 ps-20">
          <span class="font-medium font-breeSerif text-sm"
            >Every Home Has a Story.</span
          >
          <h3
            class="font-normal font-neueMontreal text-4xl text-primaryGreen my-5"
          >
            Turning the Page
          </h3>
          <p class="font-normal font-neueMontreal pb-5">
            When it's time to sell your home, whether planned or unexpected,
            Bloomsday ensures you're prepared and organized. Storing your home's
            essential records on our platform cultivates a seamless selling
            experience, impressing your real estate agent and providing valuable
            history to the new owners, strengthening their bond with the home
            you once cherished.
          </p>
          <button
            class="border-2 border-primaryGreen border-spacing-5 text-primaryGreen border-solid rounded-md py-2 px-5 font-medium"
            >Join the Waitlist</button
          >
        </div>
      </div>
    </div>
  </div>
</div>
