---
import BloomsdayArtAndScience from "./BloomsdayArtAndScience.jsx";
import BloomsdayProduct from "./BloomsdayProduct.astro";
import BloomsdayHeader from "./BloomsdayHeader.astro";
import BloomsdayMain from "./BloomsdayMain.astro";
import BloomsdayHomeMgmt from "./BloomsdayHomeMgmt.astro";
import Agents from "./Agents.astro";
import Footer from "./Footer.jsx";
---

<div>
  <BloomsdayHeader />
  <BloomsdayMain />
  <BloomsdayArtAndScience />
  <BloomsdayProduct/>
  <BloomsdayHomeMgmt/>
  <Agents/>
  <Footer/>
</div>
