---
import ArtAndScience from "./ArtAndScience.jsx";
import Product from "./Product.astro";
import Header from "./Header.astro";
import Main from "./Main.astro";
import HomeMgmt from "./HomeMgmt.astro";
import Agents from "./Agents.astro";
import Footer from "./Footer.jsx";
---

<div>
  <Header />
  <Main />
  <ArtAndScience client:only=”react”/>
  <Product/>
  <HomeMgmt/>
  <Agents/>
  <Footer/>
</div>
