<div class="font-neueMontreal" id="joinWaitlist">
  <div class="bg-yellowish flex items-center justify-center">
    <div
      class="w-3/4 sm:w-full py-24 sm:py-12 sm:px-9 flex sm:flex-col justify-between sm:justify-center"
    >
      <div class="w-full">
        {
          /* <div>
          <img
            src="/assets/FooterBloomsdayLogo.svg"
            alt="FooterBloomsdayLogo"
          />
        </div> */
        }
        <div class="font-neueMontreal">
          <span class="text-lg font-breeSerif font-medium hidden sm:block">
            Join the Community
          </span>
          <h3 class="font-normal text-[2.6rem] sm:text-4xl text-primaryGreen py-5 sm:py-3">
            Request an Invitation
          </h3>
          <p class="w-[60%] sm:w-full sm:pt-2 sm:pb-7 tracking-wide">
            We are extending invitations to a select group of homebuyers and agents to test our
            innovative platform. By entering your email, you'll secure your spot on our waitlist and
            be among the first to experience the future of seamless homebuying. Don't miss this
            opportunity to shape the evolution of Bloomsday!
          </p>
        </div>
      </div>
      <form id="waitlist-form" data-netlify="true" name="joinWaitlist" method="post">
        <input type="hidden" name="form-name" value="joinWaitlist" />
        <div class="text-sm text-[#476A57] font-medium my-5">
          <label for="full_name">Full Name*</label>
          <input
            type="text"
            id="full_name"
            name="full_name"
            class="w-[28rem] sm:w-full py-3 px-[20px] sm:px-3 rounded-md mt-1 outline-none"
          />
        </div>
        <div class="text-sm text-[#476A57] font-medium my-5">
          <label for="email">Email Address*</label>
          <input
            type="text"
            id="email"
            name="email"
            class="w-[28rem] sm:w-full py-3 px-[20px] sm:px-3 rounded-md mt-1 outline-none"
          />
        </div>
        <div class="text-sm text-[#476A57] font-medium my-5">
          <label for="customer_type">Customer Type*</label>
          <select
            id="customer_type"
            name="customer_type"
            class="w-[28rem] sm:min-h-[45px] sm:w-full py-3 px-4 sm:px-2 rounded-md border-0 outline-none text-[#476A57] bg-white"
          >
            <option class="bg-mintGreen">Select</option>
            <option class="bg-mintGreen">I am a Homebuyer</option>
            <option class="bg-mintGreen">I am an Agent</option>
          </select>
        </div>
        <p class="font-neueMontreal font-normal text-[0.7rem] flex justify-end">
          <span>* Indicates a required field</span>
        </p>
        <button
          type="submit"
          class="bg-primaryGreen rounded-md text-yellowish font-medium py-2 px-8 mt-5 sm:mt-0 font-neueMontreal tracking-wide"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<div
  id="waitlist-confirmation"
  tabindex="-1"
  aria-hidden="true"
  class="hidden w-full bg-[#121619BF] top-0 fixed h-[100vh] flex items-center justify-center"
>
  <div class="bg-yellowish w-[40%] sm:w-[80%] p-10 rounded-md">
    <div class="flex flex-col justify-center font-neueMontreal my-10 sm:my-5">
      <img src="/assets/BloomsdayLogo.svg" alt="" class="w-[5rem] m-auto mb-10" />
      <h2 class="text-center text-3xl sm:text-2xl sm:font-medium text-primaryGreen pb-8">
        Thank You for Joining&nbsp;
        <br class="sm:hidden" />
        the Bloomsday Community
      </h2>
      <p class="text-center text-sm tracking-wide pb-10">
        Your request to join the Bloomsday waitlist has been received.
        <br />
        We will be in touch with you on next steps.
      </p>
      <div class="flex items-center justify-center">
        <button
          class="bg-primaryGreen text-yellowish font-medium py-2 px-4 rounded-md"
          id="waitlist-close-btn"
        >
          Return to Home Page
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const handleSubmit = (event) => {
    event.preventDefault();

    const myForm = event.target;
    const formData = new FormData(myForm);

    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(formData).toString(),
    })
      .then(() => document.getElementById("waitlist-confirmation").classList.remove("hidden"))
      .catch((error) => alert(error));
  };

  document.querySelector("form#waitlist-form").addEventListener("submit", handleSubmit);
  document.querySelector("#waitlist-close-btn").addEventListener("click", () => {
    document.getElementById("waitlist-confirmation").classList.add("hidden");
    document.querySelector("form#waitlist-form").reset();
  });
</script>
