<div class="bg-yellowish flex items-center flex-col">
  <div class="w-3/4 text-center px-10 pt-20">
    <div class="flex flex-col">
      <p class=" pb-7 font-breeSerif">
        Coming Soon: The Future of Homebuying
      </p>
      <h3 class="font-normal text-6xl text-primaryGreen pb-2 font-neueMontreal">
        A Simpler Path to Homebuying
      </h3>
      <span class="font-normal font-neueMontreal"
        >Bloomsday Home is revolutionizing the home journey with an AI-powered
        solution that provides guidance
        <br />every step of the way—whether a homebuyer is looking for the
        perfect home or already living in it.</span
      >
      <div class="py-10">
        <button
          class="text-white bg-primaryGreen font-medium py-2 px-5 roundezd-md font-neueMontreal"
          >Join the waitlist</button
        >
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center home-image-container ">
  <div class="w-3/4 relative px-14">
    <img src="/assets/Rectangle19.png" alt="home img" class="" />
    <div
      class="absolute top-20 -left-8 bg-white flex items-center py-3 px-2 text-xs text-primaryGreen font-medium font-neueMontreal"
    >
      <div class="mx-4">
        <img class="m-auto" src="/assets/TaskIcon.svg" alt="TaskIcon"/><p>Tasks</p>
      </div>
      <div class="mx-4">
        <img class="m-auto" src="/assets/DocumentIcon.svg" alt="DocumentIcon"/><p>Documents</p>
      </div>
      <div class="mx-4">
        <img class="m-auto" src="/assets/NotesIcon.svg" alt="NotesIcon"/><p>Notes</p>
      </div>
      <div class="mx-4">
        <img class="m-auto" src="/assets/PhotosIcon.svg" alt="PhotosIcon"/><p>Photos</p>
      </div>
    </div>
    <div
      class="bg-[#F8F5F1] w-fit p-4 absolute top-52 left-52 font-neueMontreal "
    >
      <div class="flex items-center mt-2 mb-4">
        <img src="/assets/ReportIcon.svg" alt="ReportIcon"/><span
          class="ps-3 font-bold text-primaryGreen text-xl">Reports</span
        >
      </div>
      <div class="bg-white rounded-lg p-2">
        <div class="py-4 px-2">
          <div class="flex items-center">
            <img src="/assets/CheckboxIcon.svg" alt="CheckboxIcon" />
            <span class="ms-3 font-medium text-sm">Credit Reports</span>
          </div>
          <div class="flex items-center">
            <img src="/assets/CheckboxIcon.svg" alt="CheckboxIcon"  />
            <span class="ms-3 font-medium text-sm">Pre-Approval Letter</span>
          </div>
          <div class="flex items-center">
            <img src="/assets/CheckboxIcon.svg" alt="CheckboxIcon"  />
            <span class="ms-3 font-medium text-sm">Loan Estimate</span>
          </div>
        </div>
        <div>
          <button
            class="text-white bg-primaryGreen font-medium py-2 my-3 px-5 rounded-md"
            >View Documents</button
          >
        </div>
      </div>
    </div>
    <div class="absolute -top-14 right-0 font-neueMontreal">
      <div class="bg-white py-1 px-2 border-s-4 border-s-secondaryGreen">
        <div class="flex items-center justify-between">
          <div class="flex items-end">
            <img src="/assets/RightClickIcon.svg" alt="RightClickIcon"  /><span
              class="font-medium text-xs text-primaryGreen">Assets</span
            >
          </div>
          <div><img src="/assets/FileIcon.svg" alt="FileIcon" /></div>
        </div>
        <div class="px-4">
          <p class="py-1 font-medium text-base text-primaryGreen">
            Brokerage Statement
          </p><button
            class="bg-[#CBEFDF] text-sm text-primaryGreen font-medium rounded-lg py-2 px-5"
            >Completed</button>
        </div>
        <div class="flex items-center justify-between py-3">
          <div class="flex items-center">
            <img src="/assets/SpectacleIcon.svg" class="me-3" alt="SpectacleIcon" />
            <img src="/assets/DownloadIcon.svg" class="me-3" alt="DownloadIcon" />
            <img src="/assets/ShareIcon.svg" class="me-3" alt="ShareIcon" />
            <img src="/assets/DeleteIcon.svg" class="me-3" alt="DeleteIcon" />
          </div>
          <div>
            <img src="/assets/DateIcon.svg" alt="DeleteIcon" />
          </div>
        </div>
      </div>
      <div class="bg-white py-1 px-2 border-s-4 border-s-[#ED9D00] mt-5">
        <div class="flex items-center justify-between">
          <div class="flex items-end">
            <img src="/assets/ExclamationIcon.svg" alt="ExclamationIcon" /><span
              class="font-medium text-xs text-primaryGreen mx-1"
              >Appraisal</span
            >
          </div>
          <div><img src="/assets/FileIcon.svg" alt="FileIcon"/></div>
        </div>
        <div class="py-1 px-4">
          <p class="py-1 font-medium text-base text-primaryGreen">
            Schedule Appraisal
          </p><button
            class="bg-[#FAEFC6] text-sm text-primaryGreen font-medium rounded-lg py-2 px-5"
            >Completed</button>
        </div>
        <div class="flex items-center justify-between py-3">
          <div class="flex items-center">
            <img src="/assets/SpectacleIcon.svg" class="me-3" alt="SpectacleIcon"/>
            <img src="/assets/DownloadIcon.svg" class="me-3" alt="DownloadIcon" />
            <img src="/assets/ShareIcon.svg" class="me-3" alt="ShareIcon" />
            <img src="/assets/DeleteIcon.svg" class="me-3" alt="DeleteIcon" />
          </div>
          <div>
            <img src="/assets/DateIcon.svg" alt="DeleteIcon" />
          </div>
        </div>
      </div>
      <div class="bg-white py-1 px-2 border-s-4 border-s-[#DB4F57] mt-5">
        <div class="flex items-center justify-between">
          <div class="flex items-end">
            <img src="/assets/ClockIcon.svg" alt="ClockIcon" /><span
              class="font-medium text-xs text-primaryGreen mx-1">Escrow</span
            >
          </div>
          <div><img src="/assets/FileIcon.svg" alt="FileIcon" /></div>
        </div>
        <div class="py-1 px-4">
          <p class="py-1 font-medium text-base text-primaryGreen">
            Title Review
          </p><button
            class="bg-[#FFE0E1] text-sm text-[#DB4F57] font-medium rounded-lg py-2 px-5"
            >Completed</button>
        </div>
        <div class="flex items-center justify-between py-3">
          <div class="flex items-center">
            <img src="/assets/SpectacleIcon.svg" class="me-3" alt="SpectacleIcon" />
            <img src="/assets/DownloadIcon.svg" class="me-3" alt="DownloadIcon" />
            <img src="/assets/ShareIcon.svg" class="me-3" alt="ShareIcon" />
            <img src="/assets/DeleteIcon.svg" class="me-3" alt="DeleteIcon" />
          </div>
          <div>
            <img src="/assets/DateIcon.svg" alt="DeleteIcon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
   .home-image-container{
     background-image: linear-gradient(to bottom, #F5F2E1 50%, white 50%);
   } 
</style>