---
import { Image } from "astro:assets";
import BloomsdayProduct from "../../images/BloomsdayProduct.png";
---

<div class="flex items-center justify-center mt-24" id="solutions">
  <div class="w-[80%] px-5">
    <div class="text-center">
      <span class="font-breeSerif font-medium">From Chaos to Calm</span>
      <h3 class="font-neueMontreal font-normal text-5xl text-primaryGreen py-5">
        One Organized Step At a Time
      </h3>
      <p class="font-neueMontreal tracking-wide">
        The paperwork is intimidating. With Bloomsday <br />on your team, you'll
        float through process.
      </p>
    </div>
    <div class="mt-[3.5rem]">
      <Image src={BloomsdayProduct} alt="BloomsdayProduct" class="w-full" />
    </div>
    <div class="py-10 font-neueMontreal tracking-wide">
      <div class="flex flex-wrap w-full">
        <div class="w-[33%] p-5 flex">
          <div class="w-[4.7rem] px-1">
            <img src="/assets/TimeIcon.svg" class="w-full" alt="TimeIcon" />
          </div>
          <div>
            <p>
              <span class="font-semibold text-primaryGreen">Time. </span> When timing
              is everything, proactive preparation is key. Bloomsday streamlines
              deadline management so you can focus on thoughtful decision-making.
            </p>
          </div>
        </div>
        <div class="w-[33%] p-5 flex">
          <div class="w-24 px-1">
            <img
              src="/assets/NoteBookIcon.svg"
              class="w-full"
              alt="NoteBookIcon"
            />
          </div>
          <div class="">
            <p>
              <span class="font-semibold text-primaryGreen">Education. </span>  
              Our platform distills the complexities of real estate into checklists
              and doable tasks. Whether you're a first-time homebuyer or a seasoned
              pro, you'll discover valuable insights for a smoother homebuying process.
            </p>
          </div>
        </div>
        <div class="w-[33%] p-5 flex">
          <div class="w-20 px-1">
            <img
              src="/assets/OrganizationIcon.svg"
              class="w-full"
              alt="OrganizationIcon"
            />
          </div>
          <div>
            <p>
              <span class="font-semibold text-primaryGreen"
                >Organization.
              </span> No more sifting through your inbox, shared drives, or cluttered
              desktop—digital or physical. Bloomsday always puts the paperwork at
              your fingertips, hassle-free.
            </p>
          </div>
        </div>
        <div class="w-[33%] p-5 flex mt-5">
          <div class="w-24 px-1">
            <img
              src="/assets/PrivacyIcon.svg"
              class="w-full"
              alt="PrivacyIcon"
            />
          </div>
          <div>
            <p>
              <span class="font-semibold text-primaryGreen">Privacy. </span> You
              control your data and decide whom to give access to your digital library.
              We will not spam you with ads for things that you don't need, and your
              financial information is not for sale.
            </p>
          </div>
        </div>
        <div class="w-[33%] p-5 flex mt-5">
          <div class="w-24 px-1">
            <img
              src="/assets/SearchHandIcon.svg"
              class="w-full"
              alt="SearchHandIcon"
            />
          </div>
          <div>
            <p>
              <span class="font-semibold text-primaryGreen"> Search. </span> In your
              personalized and curated database, locating documents is a snap. Bloomsday's
              AI-powered search enables you to quickly access specific details whenever
              you need them.
            </p>
          </div>
        </div>
        <div class="w-[33%] p-5 flex mt-5">
          <div class="w-24 px-1">
            <img
              src="/assets/SecurityIcon.svg"
              class="w-full"
              alt="SecurityIcon"
            />
          </div>
          <div>
            <p>
              <span class="font-semibold text-primaryGreen"> Security. </span> Securely
              store everything in one centralized, 24/7 digital haven. Bloomsday
              uses financial-grade security to keep your sensitive information encrypted
              and protected.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
