<div class="flex items-center justify-center p-5 my-10">
  <div class="w-3/4">
    <div class="text-center">
      <span class="font-breeSerif font-medium">From Chaos to Calm</span>
      <h3 class="font-neueMontreal font-normal text-5xl text-primaryGreen py-5">
        One Organized Step At a Time
      </h3>
      <p class="font-neueMontreal py-5">
        We know the paperwork can seem intimidating, but with Bloomsday on <br
        />your team you'll float through the process like a gentle breeze.
      </p>
    </div>
    <div class="mt-8">
      <img src="/assets/BloomsdayProduct.png" alt="BloomsdayProduct"  />
    </div>
    <div class="py-10 font-neueMontreal">
      <div class="flex flex-wrap w-full">
        <div class="w-[33%] p-5 flex">
          <div class="w-[40%] px-1"><img src="/assets/NoteBookIcon.svg" class="w-full"  alt="NoteBookIcon" /></div>
          <div class="">
            <p>
              <span class="font-semibold text-primaryGreen">Education. </span> Our platform simplifies the complexities of
              real estate into user-friendly checklists and tasks. Whether you’re
              a first-time homebuyer or a seasoned pro, you'll discover valuable
              insights for a smoother home buying journey.
            </p>
          </div>
        </div>
        <div class="w-[33%] p-5 flex">
          <div class="w-[35%] px-1"><img src="/assets/TimeIcon.svg" class="w-full" alt="TimeIcon"  /></div>
          <div>
            <p>
              <span class="font-semibold text-primaryGreen">Time. </span> Proactive preparation is key. Bloomsday Home streamlines
              deadline management so you can focus on thoughtful decision-making.
              Rest easy, knowing you'll never miss another deadline.
            </p>
          </div>
        </div>
        <div class="w-[33%] p-5 flex">
          <div class="w-[35%] px-1"><img src="/assets/OrganizationIcon.svg" class="w-full" alt="OrganizationIcon" /></div>
          <div>
            <p>
              <span class="font-semibold text-primaryGreen">Organization. </span> No more sifting through your inbox, shared
              drives, or a cluttered desktop—real or virtual. Bloomsday Home always
              puts your paperwork at your fingertips, hassle-free.
            </p>
          </div>
        </div>
        <div class="w-[33%] p-5 flex">
          <div class="w-[45%] px-1"><img src="/assets/PrivacyIcon.svg" class="w-full" alt="PrivacyIcon" /></div>
          <div>
            <p>
              <span class="font-semibold text-primaryGreen">Privacy. </span> You’re in control of your data. Your digital
              library securely stores your personal information, ensuring data privacy
              and control. We will never misuse or share your data for advertising
              or other intrusive purposes. Your trust and privacy are our top priorities.
            </p>
          </div>
        </div>
        <div class="w-[33%] p-5 flex">
          <div class="w-[40%] px-1"><img src="/assets/SearchHandIcon.svg" class="w-full" alt="SearchHandIcon" /></div>
          <div>
            <p>
              <span class="font-semibold text-primaryGreen"> Search. </span> With your personalized, curated database
              you’ve created locating documents becomes a breeze. Bloomsday Home’s
              AI-powered search enables you to quickly access specific details whenever
              you need them.
            </p>
          </div>
        </div>
        <div class="w-[33%] p-5 flex">
          <div class="w-[35%] px-1"><img src="/assets/SecurityIcon.svg" class="w-full" alt="SecurityIcon" /></div>
          <div>
            <p>
              <span class="font-semibold text-primaryGreen"> Security. </span> Securely store everything in one centralized,
              24/7 digital haven. Bloomsday Home use financial-grade security to
              keep your sensitive information encrypted and protected.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
