<div class="border border-lightGreen border-spacing-5 px-20 bg-yellowish">
  <div class="flex items-center py-2 justify-between">
    <div class="flex items-center cursor-pointer">
      <img src="../../public/BloomsdayLogo.svg" alt="Bloomsday Logo" />
      <span class="ms-2  text-3xl text-primaryGreen font-breeSerif"
        >BloomsDay</span
      >
    </div>
    <div class="flex items-center">
        <ul class="flex items-center justify-between text-primaryGreen font-medium font-neueMontreal">
            <li class="mx-5 cursor-pointer">Platform</li>
            <li class="mx-5 cursor-pointer">Homebuyer</li>
            <li class="mx-5 cursor-pointer">Agents</li>
        </ul>
        <button class="py-2 px-5 bg-primaryGreen text-white font-medium rounded-md mx-4">Join the waitlist</button>
    </div>
  </div>
</div>
